*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
body{
	margin: 5%;
	padding: 0px;
}
h1{
	font-size: 1.2em;
	color:rgb(26, 6, 199);
	text-align: center;
}
h2{
	margin: 20px 20px 5px 20px;
	font-size: 1em;	
	text-align: center;
}
.container1, .container2{
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	margin: 5px 20px;
	align-items: center;
	background-color: rgb(202, 205, 247);
	height: 200px;
}

/* primer rating */
.divIcon{
	display: flex;
	flex-direction: row; 
	margin: 0px;
	justify-content: center;	
}
.showicon{
	cursor: pointer;
	margin: 2px 6px;		
	color: rgb(248, 42, 42);
}
.showicon:hover{	
	color: rgb(27, 14, 207);
}

/* segundo rating */
.container2{
	font-size: 80px;	/* tamaño de las estrellas */
}
.container2 input{
	display: flex;
	opacity: 0;	/* esconde el radio input */
	position: absolute;	/* coloca todos los radio input en la misma posición y evita crear espacios entre las estrellas*/
}
.container2 label{
	float:right;	/* para invertir el orden de las estrellas */
	color: rgb(248, 42, 42);
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;	/* añadir un pequeño efecto de transición */
}
.container2 label:hover,
.container2 label:hover ~ label,
.container2 input:focus ~ label	{	
	color: rgb(27, 14, 207);
	cursor: pointer;
}

